<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TranscendAutoDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TranscendAutoDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TranscendAutoDownloader.Properties.Settings>
            <setting name="letzteIP" serializeAs="String">
                <value>192.168.1.30</value>
            </setting>
            <setting name="Speicherpfad" serializeAs="String">
                <value />
            </setting>
            <setting name="QuellPfad" serializeAs="String">
                <value>DCIM/100CANON/</value>
            </setting>
            <setting name="lastPollingTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ImportOrdner" serializeAs="String">
                <value />
            </setting>
        </TranscendAutoDownloader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TranscendAutoDownloader.Properties.Settings>
            <setting name="QuellRoot" serializeAs="String">
                <value>/www/sd/</value>
            </setting>
        </TranscendAutoDownloader.Properties.Settings>
    </applicationSettings>
</configuration>
